@font-face {
    font-family: Lato-Bold;
    src: url(/src/fonts/Lato-Bold.ttf);
}

.button {
    border: none;
    font-family: 'Lato-Bold';
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2f3237;
    background-color: #50e3c2;
    height: 40px;
    border-radius: 20px;
    padding: 0 36px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button:hover, .button:active {
    background-color: #a0e3c2;
}